In [5]:
import pandas as pd

df = pd.DataFrame({'A' : ['x','x','y','z','z'],
                   'B' : ['p','p','q','r','f']})
df

   A  B
0  x  p
1  x  p
2  y  q
3  z  r
4  z  f

In [7]:
df.groupby(['A','B']).B.agg('count').to_frame('c').reset_index()

   A  c
0  x  2
1  y  1
2  z  2